/*//////////// Header ////////////*/

.wrapper {
  width: 960px;
  margin: 0 auto;
}

header {
  margin: 0 0 30px;
}

#logo {
  padding: 84px 0 0;
} 

#logo h1 {
  font-family: 'Lobster', cursive;
  margin: 0;
  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
	color: white;
}

.shadow {
  box-shadow: 0 3px 10px #333;
}

#link {
  position: absolute;
    top: 82px;
    right: 4px;
    width: auto;
}

/*//////////// Backgrounds ////////////*/

.medium-fade {
  background: #e1c0e2; /* Old browsers */
background: -moz-linear-gradient(top, #e1c0e2 0%, #b57bb5 52%, #964289 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #e1c0e2 0%,#b57bb5 52%,#964289 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #e1c0e2 0%,#b57bb5 52%,#964289 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1c0e2', endColorstr='#964289',GradientType=0 ); /* IE6-9 */
}



/*//////////// Customer Show ////////////*/

.need {
  color: #e60000;
}

.running_low {
  color: #cccc00;
}

.just_bought {
  color: #009933;
}

.one_year {
  color: #660066;
}

/*//////////// Box sizing ////////////*/

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}



