<div class="background signup">
<header class="medium-fade shadow">
  <div class="wrapper">
    <div id="logo">
      <h1>Sales Helper</h1>
    </div>
    <div id="link">
      <a href="/signup">Sign Up</a>
    </div>
  </div>
</header>


<div class="form shadow">
  <div id="signlog">
    <h1>Log In</h1>
  </div>
<form action="/login" method="POST">
  <label for="username">Username: </label>
  <input type="text" name="username" id="username" />
  <br>
  <br>
  <label for="password">Password: </label>
  <input type="password" name="password" id="password" />
  <br>
  <br>
  <div class="buttons">
  <button type="submit">Log In</button> 
  </div>
</form>
</div>
</div>