@import url('https://fonts.googleapis.com/css?family=Lobster|Yeseva+One');

/*//////////// Header ////////////*/

.wrapper {
  width: 960px;
  margin: 0 auto;
}

header {
  margin: 0 0 30px;
}

#logo {
  text-align: center;
  padding: 10px 0 10px;
} 

#logo h1 {
  font-family: 'Lobster', cursive;
  margin: 0;
  text-shadow:
		-2px -2px 0 #000,
		2px -2px 0 #000,
		-2px 2px 0 #000,
		2px 2px 0 #000;
	color: white;
}

.shadow {
  box-shadow: 0 3px 10px #333;
}

#link {
  position: absolute;
    top: 30px;
    right: 20px;
    width: auto;
    font-size: 1.15em;
}

/*//////////// Backgrounds ////////////*/

.medium-fade {
  background: #e1c0e2; /* Old browsers */
background: -moz-linear-gradient(top, #e1c0e2 0%, #b57bb5 52%, #964289 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #e1c0e2 0%,#b57bb5 52%,#964289 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #e1c0e2 0%,#b57bb5 52%,#964289 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1c0e2', endColorstr='#964289',GradientType=0 ); /* IE6-9 */
}

.background {
  background: url("https://imgur.com/jVhyEdt.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

.signup {
  background: url("https://imgur.com/YfbRBVh.jpg") no-repeat center center fixed;
}

/*//////////// Forms ////////////*/

.form {
  padding: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  background: white;
  width: 30%;
}

#signlog {
  text-align: center;
  font-family: 'Yeseva One', cursive;
  color: #A0318C;
  padding-bottom: 20px;
  text-shadow: 
    -0.5px -0.5px 4px #000,
		0.5px -0.5px 4px #000,
		-0.5px 0.5px 4px #000,
		0.5px 0.5px 4px #000;
	font-size: 1.25em;	
}


/*//////////// Customer Show ////////////*/

.need {
  color: #e60000;
}

.running_low {
  color: #cccc00;
}

.just_bought {
  color: #009933;
}

.one_year {
  color: #660066;
}

/*//////////// Box sizing ////////////*/

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

/*//////////// Layout ////////////*/

html, body {
    height: 100%;
    overflow: auto;
    margin: 0;
}

.main {
  font-size: 45px;
}

.description {
  font-family: 'Yeseva One', cursive;
  text-align: center;
  font-size: 1.5em;
  color: white;
  text-shadow:
		-0.5px -0.5px 8px #000,
		0.5px -0.5px 8px #000,
		-0.5px 0.5px 8px #000,
		0.5px 0.5px 8px #000;
	padding: 60px 0 0;
}

#signuplogin {
 font-size: 1.75em;
}

/*//////////// Buttons ////////////*/

.buttons {
  text-align: center;
}

button {
  text-align: center;
  background: #e4cee5; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover, #e4cee5 0%, #c691c6 55%, #c691c6 55%, #a0318c 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover, #e4cee5 0%,#c691c6 55%,#c691c6 55%,#a0318c 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center, #e4cee5 0%,#c691c6 55%,#c691c6 55%,#a0318c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4cee5', endColorstr='#a0318c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */;
  width: 90px;
  height: 40px;
  border: 1px black;
  font-size: 20px;
}

button:hover {
  background: #A0318C; 
}

/*//////////// Links ////////////*/

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}


/*//////////// Footer ////////////*/

footer {
  padding: 10px;
  background: #E1C0E2;
  border-top: 1px solid;
}