<header class="medium-fade shadow">
  <div class="wrapper">
    <div id="logo">
      <h1>Sales Helper</h1>
    </div>
    <div id="link">
      <a href="/logout">Log Out</a>
    </div>
  </div>
</header>

<h2>Create a new customer</h2>
<form action="/customers" method="POST">
  <label for="name">Account name: </label>
  <input type="text" name="customer[name]" id="name" />
  <br>
  <label for="contact">Contact name: </label>
  <input type="text" name="customer[contact]" id="contact" />
  <br>
  <label>Items puchased: </label>
  <br>
  <label for="itemname1">Item name: </label>
  <input type="text" name="items[][name]" id="itemname1" />
  <label for="quantity1">Quantity: </label>
  <input type="text" name="items[][quantity]" id="quantity1" />
  <br>
  <label for="itemname2">Item name: </label>
  <input type="text" name="items[][name]" id="itemname2" />
  <label for="quantity2">Quantity: </label>
  <input type="text" name="items[][quantity]" id="quantity2" />
  <br>
  <label for="itemname3">Item name: </label>
  <input type="text" name="items[][name]" id="itemname3" />
  <label for="quantity3">Quantity: </label>
  <input type="text" name="items[][quantity]" id="quantity3" />
  <br>
  <label for="itemname4">Item name: </label>
  <input type="text" name="items[][name]" id="itemname4" />
  <label for="quantity4">Quantity: </label>
  <input type="text" name="items[][quantity]" id="quantity4" />
  <br>
  <label for="itemname5">Item name: </label>
  <input type="text" name="items[][name]" id="itemname5" />
  <label for="quantity5">Quantity: </label>
  <input type="text" name="items[][quantity]" id="quantity5" />
  <br>
  <label for="itemname6">Item name: </label>
  <input type="text" name="items[][name]" id="itemname6" />
  <label for="quantity6">Quantity: </label>
  <input type="text" name="items[][quantity]" id="quantity6" />
  <br>
  <button type="submit">Create Customer</button>
</form>