
<form action="/customers" method="POST">
  <label for="name">Account name: </label>
  <input type="text" name="name" id="name" />
  <br>
  <label for="contact">Contact name: </label>
  <input type="text" name="contact" id="contact" />
  <br>
  <label>Items puchased: </label>
  <br>
  <label>Gloves</label>
  <br>
  <label for="gloves">Quantity: </label>
  <input type="text" name="items[gloves]" id="gloves" />
  <br>
  <label>Gloves</label>
  <br>
  <label for="gloves">Quantity: </label>
  <input type="text" name="items[gloves]" id="gloves" />
  <br>
  <label>Gloves</label>
  <br>
  <label for="gloves">Quantity: </label>
  <input type="text" name="items[gloves]" id="gloves" />
  <br>
  <label>Gloves</label>
  <br>
  <label for="gloves">Quantity: </label>
  <input type="text" name="items[gloves]" id="gloves" />
  <br>
  <label>Gloves</label>
  <br>
  <label for="gloves">Quantity: </label>
  <input type="text" name="items[gloves]" id="gloves" />
  <br>
  <label>Gloves</label>
  <br>
  <label for="gloves">Quantity: </label>
  <input type="text" name="items[gloves]" id="gloves" />
  <br>
  <label>Gloves</label>
  <br>
  <label for="gloves">Quantity: </label>
  <input type="text" name="items[gloves]" id="gloves" />
  <br>
  <label>Gloves</label>
  <br>
  <label for="gloves">Quantity: </label>
  <input type="text" name="items[gloves]" id="gloves" />
  <br>
  <input type="submit" value="Create Customer" />
</form>