
<form action="/customers" method="POST">
  <label for="name">Account name: </label>
  <input type="text" name="customer[name]" id="name" />
  <br>
  <label for="contact">Contact name: </label>
  <input type="text" name="customer[contact]" id="contact" />
  <br>
  <label>Items puchased: </label>
  <br>
  <label for="itemname1">Item name: </label>
  <input type="text" name="customer[items][][name]" id="itemname1" />
  <label for="quantity1">Quantity: </label>
  <input type="text" name="customer[items][][quantity]" id="quantity1" />
  <br>
  <label for="itemname2">Item name: </label>
  <input type="text" name="customer[items][][name]" id="itemname2" />
  <label for="quantity2">Quantity: </label>
  <input type="text" name="customer[items][][quantity]" id="quantity2" />
  <br>
  <label for="itemname3">Item name: </label>
  <input type="text" name="customer[items][][name]" id="itemname3" />
  <label for="quantity3">Quantity: </label>
  <input type="text" name="customer[items][][quantity]" id="quantity3" />
  <br>
  
  
  <input type="submit" value="Create Customer" />
</form>