<div class="background">
<div class="main" id="logo">
<h1>Sales Helper</h1>
</div>
<div class="description">
<h3>Easily keep track of your customers and the products they need</h3>
</div>
<div class="description" id="signuplogin">
<h3>Sign up or Log in:</h3>
</div>
<div class="buttons">
<button><a href="/signup">Sign up</a></button>
<button><a href="/login">Log In</a></button>
</div>
</div>
