<div class="background">
<div class="main" id="logo">
<h1>Sales Helper</h1>
</div>
<h4>Easily keep track of your customers and the products they need</h4>

<h3>Sign up or Log in:</h3>
<button class="signup"><a href="/signup">Sign up</a></button>
<button class="login"><a href="/login">Log In</a></button>
</div>

<footer>
  
</footer>